body{
    background-color: #8ca49d;
    text-align: center;
    color: #217059;
    font-family: Helvetica; 

}
a{
    color: #547c39;
    text-align: center;
    text-decoration: line;
}

a:hover{
    color: #145851;
    text-decoration: center;
}


main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

li{
    text-align: justify;
}