body{
    background-color: #b2d7cc;
    text-align: center;
    color: #217059;
    font-family: Helvetica; 

}
a{
    color: #22795d;
    text-align: center;
}

a:hover{
    color: #145851;
}


main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

li{
    text-align: justify;
}
table, th, td {
    border: #145851 2px solid;
    text-align: left;
}

div.container {
    text-align: center;
}
table {
    table-layout: fixed;
    width: 120%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table */
    color: rgb(10, 80, 67);
}
td {
    width: 25% ;
}


ol.center-list{
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}
th { 
    font-weight: normal; 
}



form, .box {
    border: 4px solid #333; /* Set border color and width */
    padding: 20px; /* Optional: Add padding inside the border */
    max-width: 800px; /* Optional: Set a maximum width for the form */
    margin: 0 auto; /* Optional: Center the form on the page */
}

.center-wrapper {
    text-align: center;
}

.figure-caption {
    margin-right: 740px; /* Adjust the margin as needed */
}
header, footer {
    background-color: #71b8ad;
    color: #285c5c;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #63a298;
    padding: 0.5em;
}

nav a {
    color: #2c4743;
    text-decoration: none;
    margin: 0 0.5em;
    border-radius: 3px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1e7e7b;
}

.color-in{
    background-color: #6bba99;
}

.color-in2{
    background-color: #84E6BC;
}

/* styles/default.css */

body {
    font-family: Arial, sans-serif;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    width: 100px; /* Set the width to 20 pixels */
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 5px; /* Optional: Add rounded corners */
}
button:hover{
    color: #145851;
}

