<nav>
    <a href="https://webpages.charlotte.edu/kamanna/">Charlotte.edu</a>
    ||
    <a href="https://github.com/kamanna12/kamanna1.github.io">Github</a>
    ||
    <a href="https://kamanna12.github.io/itis3135">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/Kamanna">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/kamanna">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/kevin-amanna-ab4351252/">LinkedIn</a>
  </nav>

  <p>Page Designed by <a href="AmannaInnovations.com.html">AmannaInnovations Inc.</a> &copy; 2024, <a href="https://www.freecodecamp.org/certification/Kamanna/responsive-web-design">Certified in RWD</a>, <a href="https://www.freecodecamp.org/certification/Kamanna/javascript-algorithms-and-data-structures-v8">Certified in JS</a></p>  
  <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html" style="text-decoration: none;">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css" style="text-decoration: none;">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>

<a href="https://wave.webaim.org/report#/" id="validation_link_disability"> <img style="border:0;width:88px;height:31px" src="images/button_validation_wcag.png" alt="Valid Disabiliy/Accessibility Design!">  </a>


<br>
  <button type="button" class="small-button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e) { e.setAttribute('href', ''); });">No CSS</button>
  