.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    border: 10px solid #ee9b00;
    /* Orange border */
    background-color: #005f73;
    /* Blue background */
    text-align: center;
}

#display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    /* White background */
    text-align: right;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #9ad3ea;
    /* Blue button color */
    color: #000000;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.btn:hover {
    background-color: #f3f3f3;
    /* Darker blue on hover */
}

.btn.operator {
    background-color: #9ad3ea;
    /* Operator button color */
}

.btn.operator:hover {
    background-color: #fff;
    /* Darker orange on hover */
}

.btn.clear {
    display: block;
    width: auto;
    background-color: #d9534f;
    /* Clear button color */
}


.btn.clear:hover {
    background-color: #ff0800;
    /* Darker red on hover */
}

.button-container {
    text-align: center;
}

.btn.clear {
    display: inline-block;
    margin-right: 10px;
    /* Add margin between buttons */
}

#calculator::after {
    content: "";
    display: table;
    clear: both;
}